---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import AnimatedCube from "../components/AnimatedCube.astro";
---

<Layout title="Thathsara | Software Engineer">
  <!-- <AnimatedCube /> -->
  <main>
    <Hero />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>
