---

---

<!-- Spline 3D Viewer Element -->
<div
    class="fixed scale-50 right-0 top-0 -z-10 pointer-events-none md:pointer-events-auto"
>
    <script
        type="module"
        src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"
    ></script>
    <spline-viewer
        url="https://prod.spline.design/fJ2ptJKzT-sDkpfO/scene.splinecode"
    ></spline-viewer>
</div>
